<h1>
CLAC</h1>
<br>
<div>

<input [value]="y">
<br>
<button (click)="onclick1()">1</button> 
<button (click)="onclick2()">2</button>
<button (click)="onclick3()">3</button> 
<button (click)="onclickp()">+</button> 
<br>
<button (click)="onclick4()">4</button> 
<button (click)="onclick5()">5</button> 
<button (click)="onclick6()">6</button> 
<button (click)="onclicks()">-</button> 
<br>
<button (click)="onclick7()">7</button> 
<button (click)="onclick8()">8</button> 
<button (click)="onclick9()">9</button> 
<button (click)="onclickm()">*</button> 
<br>
<button (click)="onclickce()">CE</button> 
<button (click)="onclick0()">0</button>  
<button (click)="onclickeq()">=</button> 
<button (click)="onclickd()">/</button> 
</div>